<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
</head>
<body>
    <h1>chat</h1>
    <div id="user-messages">
    <form action="/src/public/js/chat.js" method="POST">
        <label for="email">usuario:</label>
        <input type="email" id="email" name="user" required>
        <br>
        <label for="message">mensaje:</label>
        <textarea id="message" name="messages" rows="4" required></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
    </div>
    <script src="/src/public/js/chat.js"> </script>
</body>
</html>